.card{
	text-align: center;
	i{
		margin-bottom:20px;
		@include font-size(20);
	}
	p{
		margin:0;
		&:first-of-type{
			margin-bottom:5px;
			.page-template-about &{
				font-weight: bold;
			}
		}
		&:last-of-type{
			@include font-size(14);
		}
	}
}