form{
	margin-top:20px;
	@include breakpoint(large){
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}
	.form-fields{
		@include breakpoint(large){
			width: 49%;
		}
		input, textarea{
			width: 100%;
			border:1px solid #999;
			padding:10px;
		}
		textarea{
			border-radius:0;
			height: 200px;
		}
		&.submit{
			width: 100%;
		}
	}
	.submit{
		margin:20px auto 0 auto;
		input[type="submit"]{
			background: white;
			border:2px solid black;
			padding:10px 30px;
		}
		.ajax-loader{
			display: block;
		}
	}
}