body *{
	font-family:'Montserrat', sans-serif;
	font-weight:lighter;
	color:#222;
}
h1, h2, h3{
	margin:0;
}
h1{
	@include font-size(48);
	letter-spacing:3px;
	color:white;
	@include breakpoint(large){
		@include font-size(72);
	}
}
h2{
	@include font-size(28);
	color:white;
	@include breakpoint(large){
		@include font-size(48);
	}
}
h3{
	@include font-size(22);
	@include breakpoint(large){
		@include font-size(30);
	}
}
p{
	@include font-size(16);
	footer &{
		@include font-size(14);
	}
}
a{
	text-decoration: none;
}
.section-padding{
	padding:50px 0;
	@include breakpoint(large){
		padding:70px 0;
	}
}