.site-header{
	padding:25px 0;
	.site-header-inner{
		display: flex;
		justify-content: space-between;
		.main-navigation{
			display: flex;
			align-items:center;
			#primary-menu{
				display: none;
				@include breakpoint(large){
					display: block;
				}
				li{
					display: inline-block;
					margin-left:20px;
					&:first-of-type{
						margin-left:0;
					}
					a{
						color:#222;
					}
				}
			}
			.flyout-toggle{
				cursor:pointer;
				@include font-size(30);
				@include breakpoint(large){
					display: none;
				}
			}
		}
	}
}

#primary-menu{
	margin:0;
	padding:0;
	list-style: none;
}

.flyout{
	text-align: right;
	padding:20px;
	background: black;
	position: fixed;
	width: 100%;
	z-index:1;
	height:230px;
	top:-230px;
	@include breakpoint(large){
		display: none !important;
	}
	.flyout-toggle-close{
		cursor:pointer;
		i{
			@include font-size(24);
			color:white;
			padding:5px;
		}
	}
	#primary-menu{
		margin-top:15px;
		li{
			margin-bottom:15px;
			&:last-of-type{
				margin-bottom: 0;
			}
			a{
				color:white;
				padding:5px;
			}
		}
	}
}