.site-header{
	display: flex;
	justify-content: space-between;
	padding:25px 0;
	.main-navigation{
		display: flex;
		align-items:center;
		#primary-menu{
			display: none;
			margin:0;
			padding:0;
			list-style: none;
			@include breakpoint(large){
				display: block;
			}
			li{
				display: inline-block;
				margin-left:20px;
				&:first-of-type{
					margin-left:0;
				}
				a{
					text-decoration: none;
					color:black;
				}
			}
		}
		i{
			@include font-size(30);
			@include breakpoint(large){
				display: none;
			}
		}
	}
}