.about-info{
	display: flex;
	flex-wrap:wrap;
	@include breakpoint(large){
		align-items: center;
	}
	.about-info_image{
		@include breakpoint(large){
			width: 50%;
		}
	}
	.about-info_text{
		margin-top:50px;
		padding:0 20px;
		@include breakpoint(large){
			width: 40%;
			margin: 0 auto;
			padding:0;
		}
		.about-info_text__title{
			text-align: center;
		}
	}
	&.about-info_services{
		flex-direction: column-reverse;
		@include breakpoint(large){
			flex-direction: row;
			margin-top:50px;
		}
		.about-info_services__inner{
			display: flex;
			flex-wrap:wrap;
		}
		.about-info_image{
			margin-top:50px;
			@include breakpoint(large){
				margin-top:0;
			}
		}
	}
}