.about-info{
	display: flex;
	flex-direction: column-reverse;
	@include breakpoint(large){
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.about-info_image{
		@include breakpoint(large){
			width: 50%;
		}
	}
	.about-info_text{
		padding:0 20px;
		@include breakpoint(large){
			width: 40%;
			margin: 0 auto;
			padding:0;
		}
		.about-info_text__title{
			text-align: center;
		}
	}
	&.about-info_services{
		flex-direction: column;
		@include breakpoint(large){
			flex-direction: row;
		}
		.about-info_services__inner{
			margin-top:30px;
		}
	}
}