.work-projects-wrapper{
	text-align: center;
	.work-projects{
		margin:30px 0 40px 0;
		@include breakpoint(medium){
			display: flex;
			flex-wrap:wrap;
		}
		.projects{
			@include breakpoint(medium){
				width: 50%;
			}
			@include breakpoint(large){
				width: 25%;
			}
		}	
	}
}
