.page-header{
	@include breakpoint(large){
		height:500px;
		display: flex;
		justify-content: space-between;
	}
	.page-header-large{
		position:relative;
		@include breakpoint(large){
			width: 60%;
		}
		img{
			@include breakpoint(large){
				height:500px;
			}
		}
	}
	.page-header-small{
		position:relative;
		display: flex;
		justify-content: space-between;
		margin-top:8px;
		@include breakpoint(large){
			width: 39%;
			display: block;
			margin-top:0;
		}
		img{
			width: 49%;
			height:100%;
			@include breakpoint(large){
				height:244px;
				object-position:0 80%;
				width: 100%;
				&:first-of-type{
					margin-bottom:12px;
				}
			}
		}
	}
	.overlay{
		position:absolute;
		color:white;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background: rgba(0,0,0,0.4);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction:column;
	}
	img{
		@include breakpoint(large){
			object-fit:cover;
		}
	}
}