// BLOG ARCHIVE
.blog{
	#post-list{
		.entry-content{
			p{
				margin:0;
			}
		}
	}
}

// PROJECT ARCHIVE
.post-type-archive-projects, .home{
	.projects{
		position:relative;
		a{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transition:0.5s;
			&:hover{
				background: rgba(0,0,0,0.5);
				header{
					opacity:1;
				}
			}
			header{
				opacity:0;
				transition:0.5s;
				.post-meta{
					color:white;
				}
			}
		}
	}
}

//BLOG/PROJECT ARCHIVE
.post, .projects{
	margin-bottom:20px;
	.home &{
		margin-bottom: 0;
	}
	header{
		.entry-title{
			color:white;
			margin:0 0 10px 0;
			@include font-size(18);
			.blog &{
				margin:10px 0;
			}
		}
	}
}

.post{
	margin-bottom:40px;
}

// BLOG/PROJECT POST SINGLE
.single-post, .single-projects{
	.post, .projects{
		width:90%; 
		margin: 0 auto;
		@include breakpoint(large){
			width: 60%;
		}
		.entry-header{
			position: relative;
			.entry-title{
				color:black;
				text-align: center;
				margin:0 auto 20px auto;
				width: 90%;
				@include font-size(20);
				@include breakpoint(large){
					@include font-size(24);
					width: 100%;
				}
			}
		}
		.entry-content, .entry-content-info{
			text-align: center;
		}
		.entry-content-info{
			margin-top:20px;
			p{
				margin:0 0 5px 0;
				&:last-of-type{
					margin-bottom:0;
				}
			}
			p, span, time{
				font-weight: bold !important;
			}
		}
	}
}

// SINGLE POST NAVIGATION
.post-navigation{
	position:absolute;
	width: 100%;
	top:2px;
	.nav-links{
		div{
			display: inline-block;
			a{
				@include font-size(24);
				color:#999;
				transition:0.5s;
				&:hover{
					color:black;
				}
			}
			&.nav-next{
				float: right;
			}
		}
	}
}

// JETPACK
#infinite-handle{
	text-align: center;
	margin:20px auto 0 auto;
	clear:both;
	width: 150px;
	span{
		background: white;
		color:black;
		border:2px solid #222;
		padding:10px 30px;
		transition:0.5s;
		@include font-size(16);
		&:hover{
			background: #222;
			color:white;
		}
	}
}

.infinite-loader{
	width: 100%;
	.spinner{
		margin: 0 auto;
	}
}